@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
$white: #ffffff;
$menu: #b3c0da;
$etape : #718ed6;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

html { background-image: url(../src/fond.png);}

table {
  table-layout: fixed;
  width:100%;
}

td, tr {   background-color: $etape; }

.credit { background-color: $white;  border: 1px solid #32327d;}

#corps { background-color: $white;}
#menu { background-color: $menu }
#pieds {
  background-color: $etape;
  overflow: auto;
  position: relative;
  z-index: 1;
  text-align: center;
  border: 2.5px solid #32327d;
}
#imgtest { width: 100%;}

#corps { background-color: $white; position: relative; z-index: 1; border: 2.5px solid #32327d;}
#menu { background-color: $menu; position: relative; z-index: 1; padding-top:7%; border: 2.5px solid #32327d;}
#barreTop { position: relative; z-index: 1; margin-top: 10%;}
#barreBot { background-color: $etape; position: relative; z-index: 1;}
#logo {width:15%; position: relative; z-index: 2;margin-bottom: -17%; margin-left: 13%;}

@media screen and (min-width: 200px) and (max-width: 600px)
{
  #logo {
    width:20%;
    position: relative;
    z-index: 2;
    margin-bottom: -23%;
    margin-left: 9%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px)
{
  #logo {
    width:18%;
    position: relative;
    z-index: 2;
    margin-bottom: -20%;
    margin-left: 11%;
  }
}

#imgtest { width: auto;}

#menu a:active{
  background-color: white;
}

@media screen and (min-width: 900px) {
  #titreliste {
    color: #32327d;
    font-weight: bold;
    font-size: 2em;
  }

  #liste {
    color: #32327d;
    font-weight: bold;
    font-size: 1em;
  }

  li {
    border-bottom: 0.2em solid #244281;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  #titreliste {
    color: #32327d;
    font-weight: bold;
    font-size: 0.6em;
  }

  #liste {
    color: #32327d;
    font-weight: bold;
    font-size: 0.5em;
  }

  li {
    border-bottom: 0.2em solid #244281;
    width: 100%;
  }
}

/* Pop-up */
.popuptitre {
  color : white;
  font-size: 20px;
  font-family: $family-sans-serif;
  font-weight: bold;
  text-align: center;
}

.popuptexte {
  color : white;
  font-size: 16px;
  font-family: $family-sans-serif;
  text-align: center;
}

.popupImage {
  border-radius: 3px;
  width: auto;
  position: relative;
}
.modalDialog {
    position: fixed;
    font-family: $family-sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 3;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 60%;
    position: relative;
    margin: 10% auto;
    //padding: 2%;
    border-radius: 10px;
    background: #244281;

}

.close {
background: $menu;
color: #244281;
text-align: center;
margin: 1%;
text-decoration: none;
font-weight: bold;
border-radius: 2px;
box-shadow: 3px 3px 3px #000;

}

.close:hover {
  background: white;
  color : #244281;
}
