@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
$white: #ffffff;
$menu: #b3c0da;
$etape : #718ed6;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

html { background-image: url(../src/fond.png);}

table {
  table-layout: fixed;
  width:100%;
}
td, tr {   background-color: $etape; }

#corps { background-color: $white;}
#menu { background-color: $menu }
#pieds {
  background-color: $etape;
  overflow: auto;
  position: relative;
  z-index: 1;
}
#imgtest { width: 100%;}

#corps { background-color: $white; position: relative; z-index: 1;}
#menu { background-color: $menu; position: relative; z-index: 1;}
#barreTop { position: relative; z-index: 1; margin-top: 10%;}
#barreBot { background-color: $etape; position: relative; z-index: 1;}
#logo {width:15%; position: relative; z-index: 2;margin-bottom: -17%; margin-left: 13%;}

@media screen and (min-width: 200px) and (max-width: 450px)
{
  #logo {
    width:20%;
    position: relative;
    z-index: 2;
    margin-bottom: -23%;
    margin-left: 9%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px)
{
  #logo {
    width:18%;
    position: relative;
    z-index: 2;
    margin-bottom: -20%;
    margin-left: 11%;
  }
}
